.user_answer_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
  padding: 10px;
  background-color: var(--question-box-color3); 
  border-radius: 12px;
  box-shadow: 0 4px 8px var(--shadow-color); /* 그림자 */
  width: 100%;
  max-width: 500px;
  margin-top: 80px;

  @media (max-width: 768px) {
    padding: 8px;
    gap: 12px;
    max-width: 80%;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    max-width: 80%;
  }
}

.user_answer_box_tag {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-weight: 550; /* 텍스트 색상 */
  color: var(--question-box-color4);

  @media (max-width: 768px) {
    gap: 8px;
  }
}

.user_answer_box_tag img {
  border-radius: 50%; /* 둥근 이미지 */
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1); /* 호버 시 확대 */
  }

  @media (max-width: 768px) {
    width: 30px;
    height: 30px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    width: 40px;
    height: 40px;
  }
}

.user_answer_box {
  margin-top: 10px;
  padding: 15px;
  background-color: var(--secondary-button-color); /* 답변 박스 배경 */
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--shadow-color); /* 그림자 */
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: var(--foreground); /* 텍스트 색상 */

  @media (max-width: 768px) {
    padding: 12px;
    font-size: 14px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 15px;
  }
}

.user_answer {
  word-wrap: break-word;
  word-break: break-word;
  line-height: 1.5;
  color: var(--text-color); /* 세부 텍스트 색상 */
}
