.container {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .logoutButton {
    margin-bottom: 20px;
  }
  
  .selectedDateStories {
    margin-top: 20px;
  }
  